{% extends 'structure/structure.html'%}


{% block content %}
{% load static %}

<section>
    <div class="container-fluid" >
        <div class="bg-image" >
            
            <!-- <video class="video-background w-100"  muted loop >
                <source src="{% static 'videos\Seven.mp4' %}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video> -->
            <img src="https://uiparadox.co.uk/templates/vivid/v3/assets/media/comming-soon/bg.png" alt="">

            <div class="mask ">
                <div style="display: flex">
                    <div class="col-md-5" style="padding-left: 80px; padding-right: 80px; text-align: justify; margin-top: 200px; ">
                        <div style="color:rgb(21, 5, 5); background-color: rgb(4, 251, 165); width: fit-content; font-size: x-large; padding: 4px; border-radius: 4px;"><b>HOTs </b></div>
                       
                        <h2 style="font-size: 48px; margin-top: 8px;"><b>Chainsaw Man</b></h2>
                        <div><b>Completed Series</b></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptatibus perspiciatis corporis nihil illum, quisquam aperiam architecto, ipsa in vero at reiciendis numquam quos dolorum. Cum, vel? Repellat, deleniti quo.</p>
                        <div style="display: flex; gap: 20px;">
                            <div style="padding: 8px; border-style: solid; border-width: 1px; border-color: white; border-radius: 5px; width: fit-content;">Action</div>
                            <div style="padding: 8px; border-style: solid; border-width: 1px; border-color: white; border-radius: 5px; width: fit-content;">Action</div>
                            <div style="padding: 8px; border-style: solid; border-width: 1px; border-color: white; border-radius: 5px; width: fit-content;">Action</div>
                            <div style="padding: 8px; border-style: solid; border-width: 1px; border-color: white; border-radius: 5px; width: fit-content;">Action</div>
                        </div>
                        <br>
                        <div style="display: flex; justify-content: flex-start; list-style: none; gap: 10px; margin-top: 10px;">
                            Starting: Natsuki Hanae, Akari Kito, Hiro Shimono
                        </div>
                        <div style="margin-top: 10px;">
                            <button style="width: auto; border-radius: 10px; height: 40px; background-color: rgb(7, 253, 101); color: black; border-color: black;"><b>PLAY TRAILER</b></button>
                            <button style="width: auto; border-radius: 10px; height: 40px; background-color: rgb(7, 253, 101); color: black; border-color: black;"><b>MORE INFO</b></button>
                        </div>
                    </div>
        
                </div>
            </div>
          </div>
    </div>
</section>



<div style="margin-top: 40px; padding-left: 80px; font-size: 32px;"><b>TRENDING SHOWS</b></div>
<br>
<section class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme product-wrapper" id="SLIDER-0" style="padding-left: 80px; padding-right: 80px; gap: 10px;">

            <!-- card start  -->
            <div class="col">
                <div class="image" style="height: 240px;"><img src="{% static 'images\Watch\image2.png' %}" alt="" class="col-md-12" style=" height: 240px; border-radius: 16px; "></div>
                <div class="content">
                    <div style="display: flex; align-items: last baseline;">
                        <div class="col-md-2" style="font-size: 80px;"><b>1</b></div>
                        <div class="col-md-9">
                            <div style="font-size: 24px;"><b>Hell's Paradise</b></div>
                            <div style="font-size: 24px;"><b>Action</b></div>
                        </div>
                        
                    </div>
                </div>
            </div>  
            <!-- card end  -->

        </div>
    </div>
</section>
<hr>


<div style="margin-top: 40px; padding-left: 80px; font-size: 32px;"><b>CONTINUE WATCHING</b></div>
<br>
<section class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme product-wrapper" id="SLIDER-1" style="padding-left: 80px; padding-right: 80px; gap: 10px;">

            <!-- card start  -->
            <div class="col">
                <div class="image" style="height: 240px;"><img src="{% static 'images\Watch\image2.png' %}" alt="" class="col-md-12" style=" height: 240px; border-radius: 16px; "></div>
                <div class="content">
                    <div><h3 style="font-size: xx-large; margin-top: 8px;">MY HERO ACADEMIA</h3> </div>
                    <div style="display: flex; gap: 10px;">
                        <div>Season 02 :</div>
                        <div>Episode 02</div>
                    </div>
                    <div style="display: flex; gap: 10px; align-items: baseline; margin-top: 8px;">
                        <button style="width: 100px; border-radius: 10px; height: 40px; background-color: rgb(7, 253, 101);">PLAY</button>
                        <p>24:30</p>
                    </div>
                </div>
            </div>  
            <!-- card end  -->

        </div>
    </div>
</section>
<hr>


<div style="margin-top: 40px; padding-left: 80px; font-size: 32px;"><b>RECENTLY RELEASED</b></div>
<section class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme product-wrapper" id="SLIDER-2" style="padding-left: 80px; padding-right: 80px; gap: 10px;">

            <!-- card start  -->
            <div class="col">
                <div class="image" style="height: 200px;"><img src="{% static 'images\Watch\image2.png' %}" alt="" class="col-md-12" style=" height: 200px; border-radius: 16px; "></div>
                <div class="content">
                    <div><h3 style="font-size: xx-large; margin-top: 8px;">Fate Stay Night</h3> </div>
                    <div>
                        ACTION |
                        2021 |
                        EP-24 |
                        8.5 

                    </div>
                </div>
            </div>  
            <!-- card end  -->

        </div>
    </div>
</section>


<br><br><br>

<section style="padding-left: 80px; padding-right: 80px;">
    <div style="height: 90vh; background-image: url(https://uiparadox.co.uk/templates/vivid/v3/assets/media/comming-soon/bg.png); border-radius: 45px; padding: 80px; ">
        <div style="display: flex">
            <div class="col-md-3" style="border-style: solid; border-width: 5px; border-width: 1px; border-radius: 16px; height: 72vh;">
                <img src="{% static 'images\Watch\image1.png' %}" alt="" class="col-md-12" style="  border-radius: 16px; height: 100%;">
            </div>
            <div class="col-md-8" style="padding-left: 80px; padding-right: 80px;">
                <div style="color: aquamarine; font-size: x-large;"><b>Coming soon ! </b></div>
                <div style="height: 80px; width: 240px; background-color: black;display: flex; padding: 8px; justify-content: space-between; align-items: baseline; border-radius: 16px; border: 1px solid rgb(143, 140, 140);">
                    <div>
                        <center><b><div style="font-size: x-large;">325</div></b></center>
                        <div>Days</div>
                    </div>
                    
                    <div>
                        <center><b><div style="font-size: x-large;">11</div></b></center>
                        <div>Hrs</div>
                    </div>
                    
                    <div>
                        <center><b><div style="font-size: x-large;">17</div></b></center>
                        <div>Mins</div>
                    </div>
                    
                    <div>
                        <center><b><div style="font-size: x-large;">30</div></b></center>
                        <div>Sec</div>
                    </div>
                </div>
                <h2 style="font-size: 48px; margin-top: 16px;"><b>Chainsaw</b></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptatibus perspiciatis corporis nihil illum, quisquam aperiam architecto, ipsa in vero at reiciendis numquam quos dolorum. Cum, vel? Repellat, deleniti quo.</p>
                <div style="padding: 8px; border-style: solid; border-width: 1px; border-color: white; border-radius: 5px; width: fit-content;">
                    Action | 
                    2021 | 
                    EP-24 | 
                    8.5 
                </div>
                <br>
                <h3 style="margin-top: 16px;"><b>Character</b></h3>
                <div style="display: flex; justify-content: flex-start; list-style: none; gap: 10px;">
                    <p>Makima</p>
                    <p>Power</p>
                    <p>Makima</p>
                    <p>Power</p>
                    <p>Makima</p>
                    <p>Power</p>
                </div>
            <button style="width: auto; border-radius: 10px; height: 40px; background-color: rgb(7, 253, 101); color: black; border-color: black;"><b>PLAY TRAILER</b></button>
            </div>

        </div>

    </div>
</section>
<hr>


<div style="margin-top: 40px; padding-left: 80px; font-size: 32px;"><b>TOP ANIME</b></div>
<section class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme product-wrapper" id="SLIDER-3" style="padding-left: 80px; padding-right: 80px; gap: 10px;">

            <!-- card start  -->
            <div class="col">
                <div class="image" style="height: 200px;"><img src="{% static 'images\Watch\image2.png' %}" alt="" class="col-md-12" style=" height: 200px; border-radius: 16px; "></div>
                <div class="content">
                    <div><h3 style="font-size: xx-large; margin-top: 8px;">Fate Stay Night</h3> </div>
                    <div>
                        ACTION |
                        2021 |
                        EP-24 |
                        8.5 

                    </div>
                </div>
            </div>  
            <!-- card end  -->

        </div>
    </div>
</section>
<hr>

<section style="margin-top: 40px; padding-left: 80px; font-size: 32px; margin-top: 100px">
    <div class="row row-cols-1 row-cols-md-3" style="gap: 10px;">
        
        <div class="col-md-4">
            <h1><a href="#" style="font-size: 48px;"><b>WATCH-HOUR</b></a></h1>
            <p style="font-size: x-large; text-align: justify;">Stay connected with us and lets know
                more stories about new movies and
                More Explorer Us for get i</p>
            <div class="row" style="gap: 10px; justify-content: flex-start; padding-left: 10px;">
                <div style="border: 1px solid grey; border-radius: 5px; height: 40px; width: 40px;"></div>
                <div style="border: 1px solid grey; border-radius: 5px; height: 40px; width: 40px;"></div>
                <div style="border: 1px solid grey; border-radius: 5px; height: 40px; width: 40px;"></div>
                
            </div>
        </div>

        <div class="row col-md-4" style="margin-top: 10px;">
            <div class="col-6 col-md-6">
                <h3><b>Top Links</b></h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-6">
                <h3><b>Top Links</b></h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
        
        <div class="row col-md-4" style="margin-top: 10px;">
            <div class="col-6 col-md-6">
                <h3><b>Top Links</b></h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-6">
                <h3><b>Top Links</b></h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div style="margin-top: 80px;">
        <span style="font-size: large;">
            <center>All rights reserved by <b>WATCH-HOUR</b></center>
        </span>
    </div>
    <br>
</section>









    
    


{% endblock %}

